header{
    width: 1200px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
}
.foto1{
    width: 30px;
    height: 30px;
}
.foto1 img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.cobtenedor{
    margin-top: 20px;
width: 100%;
height: 35%;

display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}
.barra{
 display: flex;
 align-items: center;
}
.p2{
    display: flex;
    align-items: start;
    width: 1200px;
    height: 500px;
    
   
}

.cuadrito1{
    
    padding: 20px;
    margin: 30px 30px;
    width: 500px;
    height: 550px;
    
}
.cuadrito1 h1{
    margin: 10px 20px;
}

.linea{
    display: flex;
    align-items: center;
    margin: 0px 10px;
    width: 5px;
    height: 50px;
    background-color: red;
}
.j1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 5px;
}
.j2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 5px;
}
.j3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 5px;
}
.k2{
    color: gray;
    margin: 0px 10px;
}
.fi{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    margin: 10px 20px;
}
.cd1{
    
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: rgba(240, 75, 75, 0.908);
}

.cd2{
    
    border-radius: 10px;
    margin: 10px 20px;
    width: 200px;
    height: 50px;
    background-color: white;
    border: 1px solid red;
}
.cd1 p{
    margin: 15px 30px;
}
.cd2 p{
    margin: 15px 30px;
}

   

.n1{
    width: 100px;
    height: 50px;
    margin: 0px 20px;
    background-color: rgb(201, 198, 198);
    border-radius: 10px;
}
.n2{
    width: 100px;
    height: 50px;
    margin: 0px 20px;
    background-color: rgb(201, 198, 198);
    border-radius: 10px;
    border: 1px solid black;
}
.n3{
    width: 100px;
    height: 50px;
    margin: 0px 20px;
    background-color:  rgb(201, 198, 198);
    border-radius: 10px;
}
.n4{
    width: 100px;
    height: 50px;
    margin: 0px 20px;
    background-color:  rgb(201, 198, 198);
    border-radius: 10px;
    
}
.barra1{
    margin: 0px 40px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    place-items: center;
    width: 200px;
    height:50px ;
    

}
.u1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.barra2{
    margin: 0px 40px;
    gap: 10px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    place-items: center;
    width: 200px;
    height: 50px;
    
}
.pit1{
    
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.contenedor2{
    width: 800px;
    height: 800px;
    background-color: rgb(230, 25, 25);
    
}
.l1{
    border-radius: 10px 10px 10px 10px;
    margin: 40px 40px;
    width: 300px;
    height: 175px;
    background-color: white;
    border: 1px solid rgb(251, 248, 248);
}
.contenedo2{
    border-radius: 10px;
    
   margin: 20px -50px;
    width: 300px;
    height: 450px;
}
.l{
    border-radius: 10px;
    width: 300px;
    height: 450px;
}
.fi2{
    width: 600px;
}